In [ ]:
!pip install pyspark
!pip install psycopg-binary
!pip install mysql-connector-python

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: psycopg-binary in /usr/local/lib/python3.10/dist-packages (3.2.1)
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (9.0.0)

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import psycopg2
import os
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
spark = SparkSession.builder \
        .config("spark.jars.packages", "org.postgresql:postgresql:42.7.0") \
        .master("local").appName("PySpark_Postgres").getOrCreate()

Task 1 - Top Countries from where customers come from

Task 1 - 1. Get Data

In [ ]:
df_country =spark.read.format("jdbc") \
    .option("url", "jdbc:postgresql://34.42.78.12:5434/postgres") \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", "country") \
    .option("user", "airflow") \
    .option("password", "airflow") \
    .load()
df_country.createOrReplaceTempView("country")

In [ ]:
df_city =spark.read.format("jdbc") \
    .option("url", "jdbc:postgresql://34.42.78.12:5434/postgres") \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", "city") \
    .option("user", "airflow") \
    .option("password", "airflow") \
    .load()
df_city.createOrReplaceTempView("city")

In [ ]:
df_result = spark.sql('''
  SELECT
    country,
    COUNT(country) as total,
    current_date() as date
  FROM country AS co
  INNER JOIN city AS ci
    ON ci.country_id = co.country_id
  GROUP BY country
''')

In [ ]:
df_result.write.mode('overwrite').partitionBy('date') \
    .option('compression', 'snappy') \
    .save('data_result-task_1')

Task 1 - 2. Load Data

In [ ]:
df = pd.read_parquet('data_result-task_1')

In [25]:
engine = create_engine(
    'mysql+mysqlconnector://4FFFhK9fXu6JayE.root:9v07S0pKe4ZYCkjE@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/test',
    echo=False)
df.to_sql(name='top_country_suyanto', con=engine, if_exists='replace')

109

Task 2 - Total Film Based on Category

Task 2 - 1. Get Data

In [ ]:
df_film = spark.read.format("jdbc") \
    .option("url", "jdbc:postgresql://34.42.78.12:5434/postgres") \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", "film") \
    .option("user", "airflow") \
    .option("password", "airflow") \
    .load()
df_film.createOrReplaceTempView("film")

In [ ]:
df_film_category = spark.read.format("jdbc") \
    .option("url", "jdbc:postgresql://34.42.78.12:5434/postgres") \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", "film_category") \
    .option("user", "airflow") \
    .option("password", "airflow") \
    .load()
df_film_category.createOrReplaceTempView("film_category")

In [ ]:
df_category = spark.read.format("jdbc") \
    .option("url", "jdbc:postgresql://34.42.78.12:5434/postgres") \
    .option("driver", "org.postgresql.Driver") \
    .option("dbtable", "category") \
    .option("user", "airflow") \
    .option("password", "airflow") \
    .load()
df_category.createOrReplaceTempView("category")

In [ ]:
df_result = spark.sql('''
  SELECT
    name,
    COUNT(name) as total,
    current_date() as date
  FROM (
        SELECT *
        FROM film AS f
        JOIN film_category as fc
          ON f.film_id = fc.film_id) AS j
  JOIN category AS c
    ON j.category_id = c.category_id
  GROUP BY name
  ORDER BY COUNT(name) DESC
''')

In [ ]:
df_result.write.mode('overwrite').partitionBy('date') \
    .option('compression', 'snappy') \
    .save('data_result-task_2')

Task 2 - 2. Load Data

In [ ]:
df = pd.read_parquet('data_result-task_2')

In [ ]:
engine = create_engine(
    'mysql+mysqlconnector://4FFFhK9fXu6JayE.root:9v07S0pKe4ZYCkjE@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/test',
    echo=False)
df.to_sql(name='total_film_suyanto', con=engine, if_exists='replace')

16